
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/imgs/candado.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form 
    <form>
      <input type="text" id="login" autocomplete="off" class="fadeIn second" name="login" (keyup)="valida($event)" placeholder="login">
      <p *ngIf="correoInvalido">Ups, valida tu correo</p>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit"  value="Log In">
    </form>
    -->

    <form [formGroup]="form">
        <label for="email">Ingresa tu correo</label>
        <input type="text" class="form-control" formControlName="email" autocomplete="off" id="email" placeholder="Ingrese aqui su correo">
        <div *ngIf="f.email.touched && f.email.invalid"> 
            <div *ngIf="f.email.errors.required">Correo es requerido</div>
            <div *ngIf="f.email.errors.email">Ups, valida tu correo</div>
        </div>

        <label for="password">Ingresa tu password</label>
        <input type="password" class="form-control" formControlName="password" autocomplete="off" id="password" placeholder="***">
        <div *ngIf="f.password.touched && f.password.invalid"> 
            <div *ngIf="f.password.errors.required">Password es requerido</div>
        </div>

        <button class="fadeIn fourth" [disabled]="form.invalid" (click)="sumbit()">Ingresar</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
<!--       <a class="underlineHover" routerLink="/registro">
          Crear cuenta
      </a> -->
      <a class="underlineHover" (click)="crearCuenta()">
        Crear cuenta
    </a>
    </div>

  </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Valida tus credenciales</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">oK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>