<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <button (click)="login()"> Ingresar</button>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Employee</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Employee</h3>
                    <form [formGroup]="form">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" autocomplete="off" formControlName="nombre" id="nombre" class="form-control" placeholder="First Name *"/>
                                    <div *ngIf="f.nombre.touched && f.nombre.invalid"> 
                                        <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
                                        <div *ngIf="f.nombre.errors.minlength">Tu nombre es muy corto, min 3 caracteres</div>
                                        <div *ngIf="f.nombre.errors.pattern">Ups, valida tu nombre</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="apellidos" id="apellidos" class="form-control" placeholder="Last Name *"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password *"/>
                                    <div *ngIf="form.hasError('passwordNotEqual')">
                                        Error contraseñas no coinciden
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="passwordAgain" id="passwordAgain" class="form-control" placeholder="Confirm Password *"/>
                                    <div *ngIf="form.hasError('passwordNotEqual')">
                                        Error contraseñas no coinciden
                                    </div>
                                </div>
                                <div class="form-group">  
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" formControlName="gender" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio"  formControlName="gender" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" formControlName="email" id="email" class="form-control" placeholder="Your Email *"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="txtEmpPhone" id="txtEmpPhone" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                                        placeholder="Your Phone *" />
                                </div>
                                <div class="form-group">
                                    <select  formControlName="preguntaSeguridad" id="preguntaSeguridad" class="form-control">
                                        <option class="hidden" selected disabled>Please select your Sequrity Question
                                        </option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="segurityAnswer" id="segurityAnswer" class="form-control" placeholder="Enter Your Answer *" value="" />
                                </div>
                                <button class="btnRegister" [disabled]="form.invalid" (click)="sumbit()" >Registrar</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>